<?xml version="1.0"?>
<launch>

	<!-- parameters -->
	<arg name="name_1" default="lidar_1" />
    <rosparam command="load" ns="$(arg name_1)" file="$(find neo_sick_s300)/launch/s300_1.yaml"/>

	<!-- start node -->
	<node pkg="neo_sick_s300" ns="$(arg name_1)" type="neo_sick_s300_node" name="$(arg name_1)" respawn="false" output="screen"/>

	<!--start filter node-->
	<node pkg="neo_sick_s300" ns="$(arg name_1)" type="neo_scan_filter_node" name="$(arg name_1)_filter" respawn="false" output="screen"/>

</launch>
